{% extends "base.html" %}

{% block head %}
<title>Registration page</title>


{% endblock %}



{% block body %}


<form action="#" method="POST">

    <p>Register :</p>
    <p><input type="text" name="r_login" maxlength="10" placeholder="Login"/></p>              
    <p><input type="text" name="password" maxlength="10" placeholder="Password"/></p> 
    <p><input type="text" name="email" maxlength="10" placeholder="example@123.com"/></p>               
    <p><input type="submit" value="Register" /></p>                
</form>


{% endblock %}